body{
    background-color: antiquewhite;
}
h2{
text-align: center;
color: black;
text-indent: 20px;
}
.sheets{
    width: 60%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
}
.submit{
    background-color: brown;
    padding: 10px 60px;
    font-weight: bold;
    border-radius: 20px;
    font-size: 15px;
}