.navigasi {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navigasi a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navigasi a: {
  background-color: #f2f2f2;
  color: black;
}

/* Add a color to the active/current link */
.navigasi a.active {
  background-color: #03c2fc;
  color: white;
}
.ead1{

    background-color: #006699;
}
.des{
    background-color: #A9A9A9;
}